<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="x">Click the button to get your coordinates.</p>
    <button onclick="getLocation()">Try It</button>
    <form method="POST">
      Longitude: <input id="longitude" name="longitude" type="text"/>
      Latitude: <input id="latitude" name="latitude" type="text"/>
      <input type="submit" value="Submit"/>
    </form>
    <script>
      var lon = document.getElementById("longitude");
      var lat = document.getElementById("latitude");
      var x = document.getElementById("x");
      
      function getLocation() {
        
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            x.innerHTML = "get location failed";
          }
      }
      
      function showPosition(position) {
          x.innerHTML = "get location";
          lat.value = position.coords.latitude;
          lon.value = position.coords.longitude;
      }
      </script>  
  </body>
</html>